:root {
  --winxp-blue: var(--ui-xp-blue);
  --winxp-blue-light: var(--ui-xp-blue-light);
  --winxp-blue-dark: var(--ui-xp-blue-dark);
  --winxp-green: var(--ui-xp-green);
  --winxp-red: var(--ui-xp-red);
  --winxp-taskbar: var(--ui-xp-taskbar);
  --winxp-start: #4cc218;
}
